@page
@model Secomez.Pages.AboutUsModel
@{
}


<!-- Header Section -->
<header>
    <h1>About Us</h1>
    <hr />
    <p>Discover Our Story and Commitment to Security</p>
</header>

<!-- Company Overview Section -->
<div class="row">
    <div class="col-sm-4">
        <img class="rounded img-thumbnail about-img" src="/img/mission.jpeg" alt="About 1">

    </div>
    <div class="col-sm-4">
        <section>
            <article>
                <h2>Our Mission</h2>
                <p>At Secomez, our mission is to provide cutting-edge security solutions that empower businesses to safeguard their digital assets and operations.</p>
            </article>

            <article>
                <h2>What We Do</h2>
                <p>We specialize in offering high-quality Security Information and Event Management (SIEM) tools and Antivirus solutions. Our products are designed to meet the evolving cybersecurity needs of our clients.</p>
            </article>
        </section>
    </div>
</div>
<hr />
<!-- Team Section -->
<div>
<section id="our-team">
    <h2>Meet Our Team</h2>
<div class="flex-container">
    <!-- Owner 1 -->
            &nbsp; &nbsp;
    <article>
        <p></p>
        <img src="/img/ceo3.jpeg" class="img-thumbnail owner" alt="Owner 1">
        <h3>Tims Gatner</h3>
        <p>Co-Founder and CEO</p>
    </article>
            &nbsp; &nbsp;
    <!-- Owner 2 -->
    <article>
                <p></p>
            <img src="/img/ceo1.jpeg" class="img-thumbnail owner" alt="Owner 2">
        <h3>Carl Jones</h3>
        <p>Co-Founder and CTO</p>
    </article>
            &nbsp; &nbsp;
            <!-- Owner 3 -->
            <article>
                <p></p>
                <img src="/img/ceo2.jpeg" class="img-thumbnail owner" alt="Owner 3">
                <h3>Mawuli Kojo</h3>
                <p>Co-Founder and CISO</p>
            </article>
        </div>
</section>
</div>

<!-- Location Section -->
<section >
<div class="card">
    
     <div class="card-body">
            <div class="card-title">Our Location <i class="bi bi-pin-map"></i> </div>
        <p>Secomez is headquartered in Nottigham, Uk. Visit us at:</p>
        <address>
            Carrington Street<br>
            NG1 7FE<br>
            UK
        </address>
    </div>
</div>
  
    </section>

