@page
@model IndexModel
@{
    ViewData["Title"] = "Secomez";
}

@{
    <!DOCTYPE html>
    <html lang="en" data-bs-theme="dark">

   

    <body>
        <!-- Header Section -->
        <header>
            <p class="text-sm-center">
                Welcome to Secomez || <span class="text-sm-center">Your Trusted Source for Security Solutions</span>
            </p>
        </header>

        <!-- Slider -->
        <!-- Carosel Slider -->
        <div class="container">
            <div class="contain slider">
                
                <img src="/img/slides/slide.jpeg" alt="" class="rounded-2 slid" />

                <blockquote class="quote"></blockquote>
            </div>
        </div>
        <hr />
        <!--Implementing a Section Tag-->
        <div class="container">

            <h3 class="text-center">Security Solutions <i class="bi bi-building-fill-lock"></i></h3>
            <hr />
            <!-- Featured Applications Section -->
            <section id="featured-applications">
                <div class="row">
             <div class="col-sm-6">
                <article>
                            <h2>Advanced SIEM Tools <i class="bi bi-tools"></i></h2>
                    <p>Empower your business with our state-of-the-art Security Information and Event Management (SIEM) tools. Detect and respond to cyber threats in real-time, ensuring the safety of your sensitive data.</p>

                </article>
            </div>

                <div class="col-sm-6">
                <article>
                            <h2>Premium Antivirus Solutions <i class="bi bi-bricks"></i></h2>
                   <p>Defend your systems against malicious attacks with our top-notch antivirus solutions. Our products provide comprehensive protection, keeping your devices secure from the latest threats.</p>
                </article>
             </div>
                </div>
            </section>
            </div>
     
       
            <hr />
        <div class="container">
        <h3 class="text-center">Benefits of Our Solutions</h3>
        <hr/>
            <!-- Benefits Section -->
           
           <div class="row">
           <div class="col">

                <!-- Section 1: Robust Threat Detection -->
                <section class="mb-5">
                    <h2 class="text-center">Robust Threat Detection</h2>
                    <article class="mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                    <img src="~/img/threat_intelligence.jpeg" alt="Threat Detection" class="rounded img-thumbnail benefits-img">
                            </div>
                            <div class="col-md-6">
                                <p>Our product provides robust threat detection to ensure the security of your data and systems. Advanced algorithms and continuous monitoring help identify and mitigate potential threats effectively.</p>
                            </div>
                        </div>
                    </article>
                </section>
                </div>
                <div  class="col">
                <!-- Section 2: 24/7 Monitoring -->
                <section class="mb-5">
                    <h2 class="text-center">24/7 Monitoring</h2>
                    <article class="mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Enjoy the peace of mind with our 24/7 monitoring feature. Our dedicated team ensures constant surveillance, providing real-time insights and immediate response to any suspicious activities.</p>
                            </div>
                            <div class="col-md-6">
                                    <img src="~/img/monitoring.jpeg" alt="24/7 Monitoring" class="rounded img-thumbnail benefits-img">
                            </div>
                        </div>
                    </article>
                </section>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <!-- Section 3: User-Friendly Interface -->
                <section class="mb-5">
                    <h2 class="text-center">User-Friendly Interface</h2>
                    <article class="mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                    <img src="~/img/interface.jpeg" alt="User-Friendly Interface" class="rounded img-thumbnail benefits-img">
                            </div>
                            <div class="col-md-6">
                                <p>Our product features a user-friendly interface designed for ease of use. Intuitive controls and a clean layout make it simple for users to navigate and access the information they need.</p>
                            </div>
                        </div>
                    </article>
                </section>
                </div>

            <div class="col">
                <!-- Section 4: Regular Updates -->
                <section class="mb-5">
                    <h2 class="text-center">Regular Updates</h2>
                    <article class="mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Stay ahead of evolving threats with our regular updates. We continuously enhance our product to adapt to the latest security challenges, ensuring your system is always protected.</p>
                            </div>
                            <div class="col-md-6">
                                    <img src="~/img/update.jpeg" alt="Regular Updates" class="rounded img-thumbnail benefits-img">
                            </div>
                        </div>
                    </article>
                </section>
            </div>

        </div>
        </div>

    </body>

    </html>


}
